/* CSS Document */
Body {
	margin: 0px 0px 0px 0px;
	background-color: ffffff;
}

.normal {
font-family:Arial;
font-size:12px;
font-weight:none;
color:#000000;
text-decoration: none;
text-align:left;
letter-spacing:1px;
}
.heading {
font-family:Arial;
font-size:11px;
font-weight:bold;
color:#ffffff;
text-decoration: none;
text-align:right;
letter-spacing:1px;


}
.heading1 {
font-family:Arial;
font-size:12px;
font-weight:bold;
color:#ffffff;
text-decoration: none;
text-align:center;
letter-spacing:1px;
background-color: #286381;
}


.text3 {
font-family:Arial;
font-size:12px;
font-weight:none;
color:#000000;
text-decoration: none;
letter-spacing:1px;
}
.heading1:hover {
font-family:Arial;
font-size:11px;
font-weight:bold;
color:#ffffff;
text-decoration: none;
text-align:center;
letter-spacing:1px;
background-color: ;
}
.heading1:Active {
font-family:Arial;
font-size:11px;
font-weight:bold;
color:#ffffff;
text-decoration: none;
text-align:center;
letter-spacing:1px;
background-color: 
}
.footer {
font-family:Arial;
font-size:12px;
font-weight:bold;
color:#000000;
text-decoration: none;
text-align:center;
letter-spacing:1px;
}
.footer:hover {
font-family:Arial;
font-size:12px;
font-weight:bold;
color:#000000;
text-decoration: underline;
text-align:center;
letter-spacing:1px;
}
.tableheader {
font-family:Arial;
font-size:11.5px;
font-weight:bold;
color:#000000;
text-decoration: none;
text-align:right;
letter-spacing:1px;
}
.normal2
{
	font-weight: bold;
	font-size: 12px;
	color: #000000;
	font-family: Arial;
	text-decoration: none;
	letter-spacing:1px;
}
.logintext {
font-family:Arial;
font-size:12px;
font-weight:none;
color:#000000;
text-decoration: none;
text-align:left;
letter-spacing:1px;
}
.tableheader1 {
font-family:Arial;
font-size:11px;
font-weight:none;
color:#ffffff;
text-decoration: none;
text-align:left;
letter-spacing:1px;
}
.tableheader2
{
	font-weight: bold;
	font-size:15px;
	color: #5B6593;
	font-family: Arial;
	text-align: center;
	text-decoration: none;
	letter-spacing:1px;
}
.normal1 {
font-family:Arial;
font-size:12px;
font-weight:none;
color:#000000;
text-decoration: none;
text-align:justify;
letter-spacing:1px;
}
.text1 {
font-family:Arial;
font-size:13px;
font-weight:bold;
color:#15138F;
text-decoration: underline;
text-align:left;
letter-spacing:1px;
}
.topmenu {
font-family:Arial;
font-size:12px;
font-weight:none;
color:#ffffff;
text-decoration: none;
text-align:center;
letter-spacing:1px;
}
.topmenu:active {
font-family:Arial;
font-size:12px;
font-weight:none;
color:#ffffff;
text-decoration: none;
text-align:center;
letter-spacing:1px;
}
.topmenu:visited {
font-family:Arial;
font-size:12px;
font-weight:none;
color:#ffffff;
text-decoration: none;
text-align:center;
letter-spacing:1px;
}
.topmenu:hover
{
	font-size: 12px;
	color: #cc00ff;
	font-family: Arial;
	text-align: center;
	text-decoration: underline;
	letter-spacing:1px;
}
.button
{
	font-size: 12px;
	color: #cc00ff;
	font-family: Arial;
	background-color: #993300;
	text-align: center;
	text-decoration: underline;
	letter-spacing:1px;
}
.tabletext {
font-family:Arial;
font-size:12px;
font-weight:bold;
color:#000000;
text-decoration: none;
text-align:center;
letter-spacing:1px;
}
.tablehead
{
	font-weight: bold;
	font-size: 12px;
	color: #ffffff;
	font-family: Arial;
	background-color: #4588BB;
	text-align: center;
	text-decoration: none;
	letter-spacing:1px;
}
.tabletext1 {
font-family:Arial;
font-size:12px;
font-weight:none;
color:#000000;
text-decoration: none;
text-align:center;
letter-spacing:1px;
}
.tabletext2 {
font-family:Arial;
font-size:13px;
font-weight:bold;
color:#000000;
text-decoration: none;
text-align:left;
letter-spacing:1px;
}
.tabletext3
{
	font-weight: bold;
	font-size: 12px;
	color: #000000;
	font-family: Arial;
	background-color: #B4D1E9;
	text-align: center;
	text-decoration: none;
	letter-spacing:1px;
}
.button
{
	FONT-WEIGHT: bold; 
	COLOR: #4588BB; 
	
	BORDER-TOP-STYLE: solid; 
	FONT-FAMILY: Arial; 
	BORDER-RIGHT-STYLE: solid; 
	BORDER-LEFT-STYLE: solid; 
	BACKGROUND-COLOR: white; 
	BORDER-BOTTOM-STYLE: solid;
	text-decoration: none;
}
.blue {
font-family:Arial;
font-size:12px;
font-weight:none;
color:#4588BB;
text-decoration: none;
text-align:right;
letter-spacing:1px;
}
.solidblockmenu 
{
BORDER-RIGHT: #625e00 0px solid; 
PADDING-RIGHT: 0px; 
BORDER-TOP: #625e00 1px solid; 
PADDING-LEFT: 0px; 
BACKGROUND: url(../images/blockdefault.gif) #ffffff repeat-x center center; 
PADDING-BOTTOM: 0px; 
MARGIN: 0px; 
FONT: bold 13px Arial; 
BORDER-LEFT: #625e00 0px solid; 
WIDTH: 100%; 
PADDING-TOP: 0px; 
BORDER-BOTTOM: #625e00 1px solid;
letter-spacing:1px;
font-variant:normal;
word-spacing:normal;
width:100%;
white-space:normal;
}

.solidblockmenu LI 
{
DISPLAY: inline 
}

.solidblockmenu LI A 
{
	BACKGROUND: url(../images/blockactive.gif) repeat-x center center; 
BORDER-RIGHT: white 1px solid; 
PADDING-RIGHT: 16px; 
PADDING-LEFT: 16px; 
FLOAT: left; 
PADDING-BOTTOM: 9px; 
COLOR: white; 
PADDING-TOP: 9px; 
TEXT-DECORATION: none 
}

.solidblockmenu LI A:visited 
{
	BACKGROUND: url(../images/blockactive.gif) repeat-x center center; 
COLOR: white 
}

.solidblockmenu LI A:hover 
{
BACKGROUND: url(../images/blockactive.gif) repeat-x center center; 
COLOR: white 
}

.solidblockmenu LI .current 
{
BACKGROUND: url(../images/blockactive.gif) repeat-x center center; 
COLOR: white 
}